{% extends 'index.html'%}
{% load censor_filters %}
{%block title%}
{{news}}
{%endblock title%}
{%block containe%}
{% if is_not_authors%}
<button class="btn btn-primary" type="button"> <a href="{%url 'upgrade'%}"> Хочу Authors!</a> </button>
{% endif %}
<h3>Новость</h3>
<form method="POST">
    {% csrf_token %}
    {%for i in form%}
    <div class="mb-3">
        <label>{{i.label_tag}}</label>{{i}}
    </div>
    {%endfor%}<!-- Теперь нам нужна только готовая форма и кнопка -->
    <input type="submit" value="Добавить новость">
</form>
{%endblock containe%}
